<table class="table table-hover mt-4">
    <thead class="thead-dark" style="background-image: linear-gradient(to right,hsl(59, 79%, 41%),hsl(251, 37%, 49%));">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Cost</th>
    </thead>
    <tbody style="background-image:linear-gradient(to right,#3189b3,rgb(45, 45, 165))">
       <!--- <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>-->
        <tr *ngFor="let productObj of arrProducts" >

            <td>{{productObj.productId}}</td>
            <td>{{productObj.productName}}</td>
            <td>{{productObj.cost}}</td>


        </tr>
    </tbody>
    <input type='text' [(ngModel)]="idForProductsRouting">
    <button type="button" (click)="routeBasedOnId()">Route to NewURL With this data</button>
    <button type="button" (click)="displayBasedOnID()">Display by id</button>
    <button type="button" (click)="displayAll()">Display all</button>

