<nav >
    <div  class="container-fluid">
        
      <h1 style="display: flex; justify-content: center;">Insurance Details</h1>
    </div>
  </nav>


  <div >
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAdd()"  class="btn btn-primary">Add</button>
  
  <table class="table mt-3">
    <thead style="background-image: linear-gradient(to right,hsl(59, 79%, 41%),#4d3aa3)">
  
      <tr>
          <th scope="col" *ngFor="let hInsuarance of columnI">{{hInsuarance}}</th>
      </tr>
    </thead>
    <tbody style="background-color: hsl(49, 100%, 81%);
    background-image: linear-gradient(315deg, #ffa69e 0%, hsl(224, 64%, 47%) 74%);">
        <tr *ngFor="let row of insuranceData">
           
            <td>{{row.policyNo }} </td>
            <td> {{row.holderName }}</td>
            <td> {{row.amount}}</td>
            <td>{{row.emiAmount}} </td>
            <td>{{row.nomineeName}} </td>
            <td>
              <button (click)="onEdit(row)"  class="btn btn-warning mx-3" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
              <button (click)="deleteInsurance(row)" class="btn btn-danger mx-3"> Delete</button>
  
            </td>
        </tr>
    </tbody>
  </table>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog" >
        <div class="modal-content" style="background-color: hsl(49, 100%, 81%);
        background-image: linear-gradient(315deg, #ffa69e 0%, hsl(224, 64%, 47%) 74%);">
          <div class="modal-header" style="background-image: linear-gradient(315deg, #a6b917 0%, #0b4281 74%); background-color:  #330f88;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;" >Insurance Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >
              
            </button>
          </div>
          <div class="modal-body" >
              <form [formGroup]="formValue" >
                  <div class="mt-3">
                    <label for="policyNo " class="label">Insurance Policy No</label>
                    <input type="text" formControlName="policyNo" class="form-control" id="policyNo" aria-describedby="policynoHelp" placeholder="enter Insurance policy no" required>
                   
                  </div>
                  
                  <div class=" mt-3">
                      <label for="holdername" class="label"> Policy Holders Name</label>
                      <input type="text" formControlName="holderName" class="form-control" id="holdername" aria-describedby="holdername" placeholder="enter policy holder name " required>
                     
                    </div>
                    <div class=" mt-3">
                      <label for="amount" class="label"> Policy Amount</label>
                      <input type="text" formControlName="amount" class="form-control" id="amount" aria-describedby="amountHelp" placeholder="enter policy amount" required>
                     
                    </div>
                  
                    <div class="mt-3">
                      <label for="Emi" class="label"> Amount for EMI</label>
                      <input type="text" formControlName="emiAmount" class="form-control" id="Emi" aria-describedby="emiHelp" placeholder="enter EMI amount" required>
                     
                    </div>
                    <div class=" mt-3" >
                      <label for="Nomineename" class="label"> Nominees name</label>
                      <input type="text" formControlName="nomineeName" class="form-control" id="Nomineename"  placeholder="enter nominee name" required>
                     
                    </div>
                    
                  
                </form>
          </div>
          <div class="modal-footer" style="background-image: linear-gradient(315deg, #a6b917 0%, #0b4281 74%); background-color:  #330f88;">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">CLOSE</button>
            <button type="button" *ngIf="showAdd" (click)="postInsuranceDetails()" class="btn btn-primary">ADD</button>
            <button type="button" *ngIf="showUpdate"  (click)="updateInsuranceDetails()" class="btn btn-primary">UPDATE</button>
          </div>
        </div>
      </div>
    </div>